<div class="wrapper">
  <div id="header">
    <div id="logo">
      <h1><a href="#">Darkness</a></h1>
      <p>Free CSS Website Template</p>
    </div>
    <div id="topnav">
      <ul>
        <li><a href="${tg.url('/')}">Home</a></li>
        <li><a href="${tg.url('/about')}">About</a></li>
        <li><a href="${tg.url('/data')}">Serving Data</a></li>
        <li><a href="${tg.url('/environ')}">WSGI Environment</a></li>
        <li class="last"><a href="#">A Long Link Text</a></li>
        <ul py:if="tg.auth_stack_enabled" class="nav navbar-nav navbar-right">
        <li py:if="not request.identity"><a href="${tg.url('/login')}">Login</a></li>
        <li py:if="request.identity"><a href="${tg.url('/logout_handler')}">Logout</a></li>
        <li py:if="request.identity"><a href="${tg.url('/admin')}">Admin</a></li>
        </ul>
      </ul>
    </div>
    <br class="clear" />
  </div>
</div>

 <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-content">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="${tg.url('/')}">
        <img src="${tg.url('/img/turbogears_logo.png')}" height="20" alt="TurboGears 2"/>
        ${getattr(tmpl_context, 'project_name', 'turbogears2')}
      </a>